.navbar {
  padding-bottom: 0;
  margin-bottom: 30px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.dropdown-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-menu li a:hover {
  text-decoration: none;
  background-color: transparent;
}