.navbar {
  padding-bottom: 0;
  margin-bottom: 30px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.dropdown-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-menu li a:hover {
  text-decoration: none;
  background-color: transparent;
}
.top-links a {
  text-decoration: none;
  color: black;
}
.top-links a:hover {
  text-decoration: underline;
  color: black;
}
.description a {
  text-decoration: none;
  color: white;
}
.description a:hover {
  color: white;
}
@media (min-width: 992px) {
  .top-links {
    justify-content: end;
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .top-navigation {
    text-align: center;
  }
  .top-links {
    justify-content: center;
    padding-right: 16px;
  }
}
.navbar {
  margin-bottom: 100px;
}
.top-navigation {
  padding-bottom: 20px;
}
.img-card {
  padding-top: 12px;
  padding-bottom: 12px;
}
.work {
  position: relative;
}
.description {
  position: absolute;
  color: white;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
}
h4 {
  margin-bottom: -3px;
}
.profile-pic {
  border-radius: 50%;
  width: 50%;
  justify-content: center;
}
.contact {
  margin-top: 100px;
  margin-bottom: 70px;
}
.sns a {
  text-decoration: none;
  color: black;
}
.sns a:hover {
  text-decoration: none;
}
#mail {
  margin-bottom: 2px;
  font-size: 12px;
}
.contact-me {
  padding-top: 20px;
}
@media (min-width: 992px) {
.contact-me {
  padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .contact {
    text-align: center;
  }
}
.fa-brands {
  margin: 2px;
}
.copyright {
  padding-right: 5em;
  padding-bottom: 1em;
  padding-top: 2em;
  padding-left: 6em;
}
.copyright p a {
  text-decoration: underline;
  color: gray;
}
.copyright p {
  font-size: 12px;
  color: gray;
}
@media (max-width: 992px) {
  .copyright {
    text-align: center;
  }
}
form {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20px;
  margin-bottom: 100px;
}
.reach-out {
  margin-top: 150px;
}
label {
  font-size: 11px;
  padding-left: 5px;
}